/*  RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ol,
ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: unset;
}

button {
  border: 0;
  background-color: unset;
  cursor: pointer;
}

body {
  background-color: #C5C6C7;
}

/* HEADER */

.header {
  width: 100%;
  height: 15vh;
  background: linear-gradient(180deg, rgba(0,0,0,1) 82%, rgba(102,252,241,1) 100%);
  margin: 0 auto;
  position: fixed;
  display: flex;

}

/* Image logo */

.div__logo__img {
  height: 100%;
  width: 8%;
  margin: auto;
}

.logo__img {
  width: 100%;
  height: 100%;
  border-radius: 100px;
}

/* Navigation bar */

.nav {
    width: 80%;
}

.nav__ul {
    height: 100%;
    display: flex;
    margin-left: 50px;
    justify-content: space-evenly;
    align-items: center;
    gap: 5%;

  }

.nav__button {
    color: #45A29E;
    font-size: 22px;
    letter-spacing: 2px;
}

.nav__button:hover,
.div__sorting__btns button:hover {
    color: #66FCF1;
    transition: 0.2s ease-out;
    font-size: 22px;
    letter-spacing: 2px;
    border-bottom: 5px double  #45A29E;
    padding-bottom: 5px;
}

/* MAIN */


/* Main sections */

.main{
  padding: 8% 1% 0 1%;
  
}
.main__aside__left {
  width: 20%;
  height: 100vh;
  float: left;
  background: #1F2833;
  margin-right: 1%;
  padding: 1%;
  border-radius: 40px;
}

.main__section__front {
  width: 79%;
  height: auto;
  background: #1F2833;
  float: right;
  border-radius: 40px;
}

/* Aside */

.filter-container {
  border: 1px solid #ccc;
  margin-bottom: 10px;
  border-radius: 5px;
  overflow: hidden;
  width: 100%;
}

.toggle-button {
  background-color: #f0f0f0;
  cursor: pointer;
  padding: 10px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  width: 100%;
}

.filter-content {
  padding: 0 10px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
}

.color {
  width: 100%;
}

/* main__category__sort */

.main__category__sort {
  width: 100%;
  height: 10vh;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: black;
  border-radius: 40px 40px 0px 0 ;
  
}

.article__category {
  width: 70%;
  height: 100%;
  border-radius: 40px;
  text-align:start;
  color: #66FCF1;
  font-size: 20px;
  padding: 15px 0 0 30px;
}

.article__category p {
   margin-bottom: 5px;  
}

/* Sorting article */

.article__sorting {
  width: 30%;
  height: 100%;
  color:#66FCF1;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-around;
  border-radius: 40px;
  text-align: center;
  gap: 10px;
}

.article__sorting p {
  font-size: 18px;
  text-decoration: underline;
}

.div__sorting__btns{
  display: flex;
  justify-content: space-around;
}

.article__sorting button {
  color: #66FCF1;
}

.article__sorting button i {
  color: #66FCF1;
}

/* Main products grid */

.main__products{
  width: 100%;
  height: auto;
  padding: 1% 1%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 3%;
  justify-content: center;
}

/* Product Article */
.product__article {
  width: 30%;
  border-radius: 40px;
  padding: 1%;
}

.product__article:hover {
  border: 5px solid white;
  background-color:#45A29E;
  transition: all 0.5s;
}

.product__tile {
  border: 2px solid #45A29E;
  border-radius: 80px;
  background-color: black;
  padding: 20px;
  text-align: center;
  color: #66FCF1;
}

.product__tile h2, p, .price, .stars {
  margin: 5px;
}

.product__div__img {
  width: 80%;
  height: 50%;
  margin: auto;
}

.product__img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
}

.price {
  display: block;
  color: green;
  font-size: 20px;
}

.discounted-price {
  display: none;
}

.discounted {
  text-decoration: line-through;
  color: red;
}

.star {
  cursor: pointer;
  font-size: 20px;
  color: gray;
}

.star.filled {
  color: gold;
}

.product__tile button {
  background-color: #45A29E;
  border-radius: 40px;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

/* Load more Button */

.loadMore__div {
  width: 100%;
	margin-left: 50%;
}

.loadMore__btn {
  width: 20%;
  text-align: center;
  margin: 2%;
  padding: 10px 20px;
  color: white;
  border-radius: 40px;
  background-color: #45A29E;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}

.loadMore__btn:hover {
  background-color: #66FCF1;
  border: 2px solid white;
  transition: all 0.7s;
}

/* Footer */

.footer {
  background-color: black;
  color: #fff;
  padding: 20px;
  text-align: center;
  font-size: 18px;
}

.footer-links {
  list-style: none;
  padding: 0;
}

.footer-links a {
  color:#45A29E;
  margin: 40px;
  text-decoration: none;
}

.footer-links a:hover {
  color:#66FCF1;
  transition: all 0.3s;
}




