/*  RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ol,
ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: unset;
}

button {
  border: 0;
  background-color: unset;
  cursor: pointer;
}

body {
  background-color: aliceblue;

}

/* HEADER */

.header {
  width: 100vw;
  height: 15vh;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 1) 82%,
    rgba(102, 252, 241, 1) 100%
  );
  margin: auto;
  position: fixed;
  display: flex;
  flex-direction: row;
  z-index: 1;
}

/* Image logo */

.div__logo__img {
  height: 100%;
  width: 8%;
  margin: auto;
}

.logo__img {
  width: 100%;
  height: 100%;
  border-radius: 100px;
}

/* Navigation bar */

.nav {
  width: 80%;
}

.nav__ul {
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 5%;
}

.nav__button {
  color: #45a29e;
  font-size: 22px;
  letter-spacing: 2px;
}

.nav__button:hover,
.div__sorting__btns button:hover {
  color: #66fcf1;
  transition: 0.2s ease-out;
  font-size: 22px;
  letter-spacing: 2px;
  border-bottom: 5px double #45a29e;
  padding-bottom: 5px;
}

/* MAIN */

.main {
  padding: 140px 2% 0 2%;
  min-height: 90vh;
}

/* Main sections */

.main__sections {
  display: flex;
  flex-direction: row;
  margin-bottom: 40px;
  min-height: 120px;
}

.main__aside__left {
  width: 20%;
  height: 60%;
  float: left;
  background: #1f2833;
  margin-right: 1%;
  padding: 1%;
  border-radius: 40px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.main__aside__left h2 {
  color: #66fcf1;
  text-align: center;
  margin: 5px 0 25px 0;
  text-decoration: underline;
  font-size: 20px;
}

.main__section__front {
  width: 80%;
  height: auto;
  background: #1f2833;
  float: right;
  border-radius: 40px;
  min-height: 150px
}

/* Aside */

/* Aside toggle */

.accordion__content {
  max-height: 60px;
  overflow: hidden;
  z-index: 0;
}

.accordion__toggleBtn__filterSection {
  cursor: pointer;
  position: absolute;
  top: 20px;
  right: 30px;
}

.accordion__toggleBtn__filterSection svg:hover {
  fill: #66fcf1;
}

.openAccordionFilterSection {
  max-height: 100%;
}

.rotate {
  transform: rotate(180deg);
  transition: all 0.5s;
}

/* Aside form */

.filtersForm {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.filter__container {
  border: 2px solid #45a29e;

  margin-bottom: 30px;
  border-radius: 10px;
  overflow: hidden;
  width: 100%;
  text-align: center;
}

.toggle__button__filterContent {
  background-color: black;
  cursor: pointer;
  padding: 10px;
  width: 90%;
  border: none;
  color: #66fcf1;
  outline: none;
  font-size: 15px;
  width: 100%;
}

.toggle__button__filterContent svg {
  margin-left: 50%;
}

.toggle__button__filterContent svg:hover {
  fill: #66fcf1;
}

.filter__content {
  max-height: 0;
  overflow: hidden;
  color: #66fcf1;
}

.filter__content input {
  width: 80%;
  padding: 10px;
  margin: 20px;
  border-radius: 20px;
}

.filter__content input:focus {
  border: 4px solid #66fcf1;
}

.filter__content select {
  width: 80%;
  padding: 10px;
  margin: 20px;
  border-radius: 20px;
}

.filter__content select:focus {
  border: 4px solid #66fcf1;
}

.openFilterContent {
  max-height: 100%;
}

.filter__container.active .filter__content {
  max-height: 200px;
  overflow: auto;
  padding: 20px;
}

.filterBtn {
  background-color: #45a29e;
  color: white;
  padding: 10px 15px;
  border-radius: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin: 0 10px 10px 10px;
}

.filterBtn:hover {
  color: black;
  background-color: #66fcf1;
  border: 2px solid white;
  font-weight: 600;
}

/* main__category__sort */

.main__category__sort {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: black;
  border-radius: 40px 40px 0px 0;
}

.article__category {
  width: 70%;
  height: 100%;
  border-radius: 40px;
  text-align: start;
  color: #66fcf1;
  font-size: 20px;
  padding: 20px 0 0 30px;
}

.category__h1 {
  display: inline;
  font-size: 22px;
  margin-bottom: 20px;
}

.products__length {
  display: inline;
  border-radius: 40px;
  background-color: #45a29e;
  color: black;
  padding: 2px 10px;
  font-size: 18px;
  border: 3px solid whitesmoke;

}

.description__p {
  margin-top: 5px;
  font-size: 16px;
}

.article__category p {
  margin-left: 0;
  margin-bottom: 10px;
}

/* Sorting article */

.article__sorting {
  width: 30%;
  height: 100%;
  color: #66fcf1;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-around;
  border-radius: 40px;
  text-align: center;
  gap: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-right: 10px;
}

.article__sorting p {
  font-size: 18px;
  text-decoration: underline;
}

.div__sorting__btns {
  display: flex;
  justify-content: space-around;
}

.article__sorting button {
  color: #66fcf1;
}

.article__sorting button i {
  color: #66fcf1;
}

/* Main products grid */

.main__products {
  width: 100%;
  height: auto;
  padding: 1% 1%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 3%;
  justify-content: center;
}

.empty__p {
  color: #66fcf1;
  text-align: center;
  font-size: 24px;
  display: none;
}

/* Product Article */
.product__article {
  width: 30%;
  border-radius: 40px;
  padding: 1%;
  margin: 10px 0;
}

.product__article:hover {
  border: 5px solid white;
  background-color: #45a29e;
  transition: all 0.2s;
}

.product__tile {
  border: 2px solid #45a29e;
  border-radius: 40px;
  background-color: black;
  padding: 20px;
  text-align: center;
  color: #66fcf1;
  height: auto;
}

.product__tile h2,
p,
.price,
.stars {
  margin: 5px;
}

.product__div__img {
  width: 100%;
  height: 250px;
  margin: auto;
}

.product__img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
}

.price, .discounted-price {
  display: block;
  color: green;
  font-size: 20px;
}

.discounted {
  text-decoration: line-through;
  color: red;
}

.star {
  cursor: pointer;
  font-size: 20px;
  color: gray;
}

.star.filled {
  color: gold;
}

.product__tile button {
  background-color: #45a29e;
  border-radius: 40px;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.product__tile button:hover {
  background-color: #66fcf1;
  border: 3px solid white;
  color: black;
  font-weight: 600;
  transition: all 1s;
}

/* Main accout section */
.main__account__section{
  display: none;
  width: 100%;
  height: auto;
  background-color: #1f2833;
  border-radius: 40px;
  
}

.main__account__section h2 {
  color: #66fcf1;
  text-align: center;
  font-size: 32px;
  margin: 20px;
  text-decoration: underline;
  
}

.account__products__section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 90%;
  height: auto;
  margin: auto;
}

.account__buttons__div {
 display: flex;
 flex-direction: column;
 gap: 15px;
 width: 100%;
 margin: 10px;
}

.account__buttons__div button
{
  color: whitesmoke;
  background-color: #45a29e;
  padding: 10px 15px;
  border-radius: 20px;
  width: 20%;
  justify-self: center;
  margin: auto;
}

.account__buttons__div button:hover {
  border: 2px solid white;
  color:black;
  background-color: #66fcf1;
}

.empty__cart {
  display: none;
  text-align: center;
  font-size: 32px;
  color: #66fcf1;
}

/* Load more Button */

.loadMore__div {
  width: 100%;
  margin-left: 50%;

}

.loadMore__btn {
  width: 20%;
  text-align: center;
  margin: 2%;
  padding: 10px 20px;
  color: white;
  border-radius: 40px;
  background-color: #45a29e;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}

.loadMore__btn:hover {
  background-color: #66fcf1;
  border: 2px solid white;
  transition: all 0.7s;
}

/* Footer */

.footer {
  background-color: black;
  color: #fff;
  padding: 20px;
  text-align: center;
  font-size: 18px;
}

.footer-links {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.footer-links a {
  color: #45a29e;
  margin: 40px;
  text-decoration: none;
}

.footer-links a:hover {
  color: #66fcf1;
  transition: all 0.3s;
}
